html, body {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: sans-serif;
  background-color: #4288e4;
}

canvas {
  display: block;
  margin: auto;
}

#canvas {
  margin-bottom: 20px;
}

.pointer {
  width: fit-content;
  margin-bottom: 10px;
  font-size: larger;
  margin-top: 35px;
}

.eqn {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: fit-content;
  align-self: center;
  margin-top: 5px;
}

.container{
  display: inline-flex;
  text-align: left;
  column-gap: 20px;
  background-color: #111827;
  padding: 20px;
  padding-bottom: 5px;
  /*width: 80%;*/
}

input[type="text"]{
  font-size: larger;
  width: 40%;
}
input[type="number"]{
  font-size: larger;
  width: 20%;
  
}

.eqn button {
  background-color: #339af0;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  padding: 5px;
}

.eqn button:hover {
  background-color: #1971c2;
}